<div class="image">
  <%= vote_image(entity) %>
</div>
<div class="data">
  <div>
    <%= admin_votable_link(entity.votable) %>
  </div>
  <div class="info">
    <%= admin_user_link(entity.user) %>
  </div>
  <div class="secondary info">
    <%= time_tag(entity.created_at) %>
  </div>
</div>
