.vote-block {
  align-items: center;
  display: flex;
  padding: 0 .8rem;

  .vote {
    background: no-repeat center / cover;
    height: 1.2rem;
    width: 1.2rem;
  }

  &.active {
    .vote {
      cursor: pointer;
    }

    &.voted-none {
      .upvote:hover {
        background-image: image_url('biovision/vote/icons/upvote-active.svg');
      }

      .downvote:hover {
        background-image: image_url('biovision/vote/icons/downvote-active.svg');
      }
    }
  }

  &.voted-upvote {
    .upvote {
      background-image: image_url('biovision/vote/icons/upvote-active.svg');
    }

    .downvote {
      background-image: image_url('biovision/vote/icons/downvote.svg');
    }
  }

  &.voted-downvote {
    .upvote {
      background-image: image_url('biovision/vote/icons/upvote.svg');
    }

    .downvote {
      background-image: image_url('biovision/vote/icons/downvote-active.svg');
    }
  }

  &.voted-none {
    .upvote {
      background-image: image_url('biovision/vote/icons/upvote.svg');
    }

    .downvote {
      background-image: image_url('biovision/vote/icons/downvote.svg');
    }
  }

  .upvote {
    &.switch {
      background-image: image_url('biovision/vote/icons/upvote-switch.svg');
    }

    &.error {
      background-image: image_url('biovision/vote/icons/upvote-error.svg');
    }
  }

  .downvote {
    &.switch {
      background-image: image_url('biovision/vote/icons/downvote-switch.svg');
    }

    &.error {
      background-image: image_url('biovision/vote/icons/downvote-error.svg');
    }
  }

  .result {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 0 .8rem;
    text-align: center;
  }
}
