<% if current_user_has_privilege?(:moderator) %>
    <nav>
      <div class="heading" id="biovision-vote-nav-heading">
        <%= t('.heading') %>
      </div>
      <ul aria-labelledby="biovision-vote-nav-heading">
        <li><%= render 'admin/votes/nav_item' %></li>
      </ul>
    </nav>
<% end %>
