<!DOCTYPE html>
<html>
<head>
  <title>Biovision vote</title>
  <%= stylesheet_link_tag    "biovision/vote/application", media: "all" %>
  <%= javascript_include_tag "biovision/vote/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
